endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Set Tags
sets tags "default, deployer, esx, esx legacy, legacy, official, roleplay"

sv_licenseKey "cfxk_1Wshsjr7zvK9xcIAUEZpa_Amqir"
sv_hostname "lynguyen-legacy"
sets sv_projectName " MyServerTest | [ESX Legacy]"
sets sv_projectDesc "Welcome!"
set mysql_connection_string "mysql://root@localhost/ESXLegacy_50D3C9?charset=utf8mb4"
load_server_icon logo.png
sv_maxclients 32

set onesync on

# System Administrators
# ---------------------
# Add system admins

add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:4049373 group.admin #LyNguyen

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
setr esx:locale "vi-VN"

# Default & Standalone Resources
# ------------------------------
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl

# ESX Legacy Core
# ----------
ensure [core]

# ESX Addons
# ----------
ensure [standalone]
ensure [esx_addons]
ensure [models]
ensure [vehicles]

# Additional Resource
# -------------------
ensure pma-voice